.LogIn{
    display: flex;
    height: calc(100vh - 5rem);
}

.LogIn-left{
    width: 50vw;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LogIn-leftText{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.LogIn-left h1{
    font-size: 7rem;
    font-weight: 900;
    color: #1e1e1e;
}

.LogIn-left h1 span{
    color: #378423; 
    font-size: 9rem;
}

.LogIn-right{
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
}

.LogIn-diagram{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.LogIn-diagram img{
    width: 6rem;
}

.LogIn-leftButton{
    display: flex;
    justify-content: center;
}

.LogIn-leftButton button{
    border: 1px solid black;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

#LogIn-leftText-black{
    font-weight: 700;
}

#LogIn-leftText-blue{
    color: #005e8b;
    cursor: pointer;
}

.LogIn-leftButton button img{
    width: 1.6rem;
}

@media (max-width: 1200px){
    .LogIn-left h1{
        font-size: 5rem;
    }
    
    .LogIn-left h1 span{
        font-size: 7rem;
    }
}

@media (max-width: 910px){
    .LogIn-left{
        width: 60vw;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .LogIn-right{
        width: 40vw;
    }

    .LogIn-diagram img{
        width: 4rem;
    }

    .LogIn-diagram{
        font-size: 3rem;
    }
}

@media (max-width: 650px){
    .LogIn-left{
        width: 100vw;
    }

    .LogIn-right{
        width: 100vw;
        height: calc(100vh - 5rem);
        position: absolute;
        z-index: -1;
    }

    .LogIn-leftText{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .LogIn-diagram{
        display: none;
    }
}