.topNavHome{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
    background-color: #fff;
    width: 100%;
}

.topNavHome p{
    font-weight: 900;
    font-size: 2.5rem;
    color: #245892;
}

.topNavHome a{
    text-decoration: none;
}