.modal{
    position: fixed;
    margin: auto;
    padding: 5rem;
    border: none;
}

.modal-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.modalBox.blank *{
    visibility: hidden;
}

.verifying-message, .verifying-message-not-verified{
    visibility: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verifying-message.blank{
    visibility: none;
}

.verifying-message h1{
    font-size: 4rem;
    color: #3e3e3e;
}

.verifying-message{
    visibility: visible;
}

.verifying-message.blank{
    visibility: hidden;
}

.verifying-message-not-verified{
    visibility: visible;
}

.not-verified{
    visibility: hidden;
}

.verifying-message.verifying.blank{
    visibility: visible;
}

.verifying-messageText img{
    width: 20rem;
}

.verifying-messageText{
    display: flex;
    align-items: center;
}

.modal-topText{
    width: 50rem;
}

.modal-topText h1{
    color: #1e1e1e;
}

.modal-topText p{
    color: #3e3e3e;
}

.modal-top button{
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.modal-top button img{
    width: 3rem;
    opacity: 80%;
}

.modal-bottom{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.modal-bottom img{
    width: 3rem;
}

.modal-bottom-verify{
    background-color: #3170cc;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 1rem;
    padding: 1rem 5rem;
    font-size: 2rem;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
}

.modal-bottom-verify img{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(161deg) brightness(105%) contrast(105%);
    width: 2rem;
}

.modalVideo{
    width: 100%;
}

.TaskVerified, .TaskNotVerified{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.iconImgBox{
    background-color: #F2F4FA;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconImgBox img{
    max-width: 15rem;
}

.verifying-message-not-verified input{
    border-radius: 5rem;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    border: none;
    width: 30rem;
    height: 4rem;
    cursor: pointer;
}

.TaskVerified input{
    background-color: #2EE2B1;
}

.TaskNotVerified input{
    background-color: #f98585;
}

.TaskVerified-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.verifying-message-not-verified h2{
    font-size: 3rem;
    color: #1e1e1e;
}

.verifying-message-not-verified p{
    max-width: 80%;
    color: #3e3e3e;
    text-align: center;
}

.modal-bottom-turn img{
    width: 2rem;
}

.modal-bottom-turn{
    padding: 0 2rem;
    border: none;
    border-radius: 1rem 0 0 1rem;
    background-color: #1e1e1e;
    cursor: pointer;
}

@media (max-width: 700px){
    .modal{
        padding: 2rem;
    }

    .modal-topText{
        width: 80%;
    }

    .iconImgBox{
        width: 20rem;
        height: 20rem;
    }

    .iconImgBox img{
        max-width: 10rem;
    }

    .verifying-message-not-verified h2{
        font-size: 2.5rem;
        color: #1e1e1e;
    }
    
    .verifying-message-not-verified p{
        font-size: 1.5rem;
    }

    .TaskVerified-top{
        gap: 1rem;
    }
}