.go2392553372 {
    display: none !important;
}

.typeStep{
    background-color: #2E57CB;
    min-height: calc(100vh - 5rem - 5rem);
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeStepBox{
    max-width: 70%;
}

.typeStepBox h1{
    font-size: 6rem;
}

.typeStepBox-des{
    font-size: 2rem;
}

.typeStepBox-input{
    margin-top: 10rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.typeStepBox-input p{
    font-size: 5rem;
    font-weight: 500;
}

.typeStepBox-input sup{
    font-size: 3rem;
}

.typeStepBox-input input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #fff;
    font-size: 4rem;
    color: #fff;
    padding-bottom: .5rem;
}

.typeStepBox-input input:focus{
    outline: none;
}

.typeStepBox-input input::placeholder{
    color: #fff;
    opacity: 30%;
}

.typeStepBox-ex{
    margin-top: 1rem;
}